
		
		{% extends "base.html" %}
		
		{% load static %}
 
		 {% block title %}About Us - My Django Website{% endblock %}
		 {% block content %}
		<!-- Breadcrumb -->
		<div class="breadcrumbs overlay" style="background-image:url('images/breadcrumb-bg.jpg')">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-12">
						<h2>Our Courses</h2>
					</div>
					<div class="col-lg-6 col-md-6 col-12">
						<ul class="bread-list">
							<li><a href="index.html">Home<i class="fa fa-angle-right"></i></a></li>
							<li class="active"><a href="#">Courses<i class="fa fa-angle-right"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Breadcrumb -->
		
		<!-- Courses -->
		<section class="courses archive section">
			
						<!-- Single Course -->
						<div class="container">
							<div class="row">
								{% for course in courses %}
								<div class="col-md-4">  <!-- Each course occupies 1/3rd of the row -->
									<div class="single-course">
										<!-- Course Head -->
										<div class="course-head overlay">
											<a href="course-single.html" class="btn white primary">Register Now</a>
										</div>
						
										<!-- Course Body -->
										<div class="course-body">
											<div class="name-price">
												<div class="teacher-info">
													  <!-- Course Name -->
												</div>
												<span class="price">₹{{ course.amount }}</span>  <!-- Course Price -->
											</div>
											<h4 class="c-title">
												<p>{{ course.name }}</p>  <!-- Course Name --> <!-- Course Link -->
											</h4>
											<p>{{ course.description }}</p>  <!-- Course Description -->
											<p><strong>Duration:</strong> {{ course.duration }} Months</p>  <!-- Course Duration -->
										</div>
						
										<!-- Course Meta -->
										<div class="course-meta">
											<!-- Ratings -->
											<ul class="rattings">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star-half-o"></i></li>
												<li class="point"><span>4.5</span></li>
											</ul>
						
											<!-- Course Info -->
											<div class="course-info">
												<span><i class="fa fa-users"></i> 2.4k Enrolled</span>
												<!-- <span><i class="fa fa-calendar-o"></i> {{ course.duration }} Months</span> -->
											</div>
										</div>
										<!--/ End Course Meta -->
									</div>
								</div>
						
								{% empty %}
								<p>No courses available.</p>
								{% endfor %}
							</div>
						</div>
						

						<!--/ End Single Course -->
					</div>
					
				</div>
			</div>
		</section>
		<!--/ End Courses -->	
		{% endblock %}
		
		