

		{% extends "base.html" %}
		
        {% load static %}

		{% block title %}About Us - My Django Website{% endblock %}
		{% block content %}

				
		<!-- Slider Area -->
		<section class="home-slider">
			<div class="slider-active">
				<!-- Single Slider -->
				<div class="single-slider overlay">
                    <div class="slider-image" style="background-image: url('{% static "images/slider/slider-bg1.jpg" %}')"></div>
                    
					<div class="container">
						<div class="row">
							<div class="col-lg-7 col-md-10 col-12">
								<!-- Slider Content -->
								<div class="slider-content">
									<h1 class="slider-title"><span>The Best University in the World!</span>Eduland Online <b>University</b></h1>
									<p class="slider-text">Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula There are many variations of passages of Lorem Ipsum available, but the majority</p>
									<!-- Button -->
									<div class="button">
										<a href="about.html" class="btn white">About Eduland</a>
										<a href="{% url 'course_preview' %}" class="btn white primary">Our Courses</a>
									</div>
									<!--/ End Button -->
								</div>
								<!--/ End Slider Content -->
							</div>
						</div>
					</div>
				</div>
				<!--/ End Single Slider -->
			</div>
		</section>
		<!--/ End Slider Area -->
		
		<!-- Courses -->
		<section class="courses section">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 offset-lg-3 col-12">
						<div class="section-title bg">
							<h2>Our <span>Courses</span></h2>
							<p>Able an hope of body. Any nay shyness article matters own removal nothing his forming. Gay own additions education satisfied the perpetual. If he cause manor happy</p>
							<div class="icon"><i class="fa fa-clone"></i></div>
						</div>
					</div>
				</div>
				
		<!-- Courses -->
		<section class="courses archive section">
			
			<!-- Single Course -->
			<div class="container">
				<div class="row">
					{% for course in courses %}
					<div class="col-md-4">  <!-- Each course occupies 1/3rd of the row -->
						<div class="single-course">
							<!-- Course Head -->
							<div class="course-head overlay">
								<a href="course-single.html" class="btn white primary">Register Now</a>
							</div>
			
							<!-- Course Body -->
							<div class="course-body">
								<div class="name-price">
									<div class="teacher-info">
										  <!-- Course Name -->
									</div>
									<span class="price">₹{{ course.amount }}</span>  <!-- Course Price -->
								</div>
								<h4 class="c-title">
									<p>{{ course.name }}</p>  <!-- Course Name --> <!-- Course Link -->
								</h4>
								<p>{{ course.description }}</p>  <!-- Course Description -->
								<p><strong>Duration:</strong> {{ course.duration }} Months</p>  <!-- Course Duration -->
							</div>
			
							<!-- Course Meta -->
							<div class="course-meta">
								<!-- Ratings -->
								<ul class="rattings">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star-half-o"></i></li>
									<li class="point"><span>4.5</span></li>
								</ul>
			
								<!-- Course Info -->
								<div class="course-info">
									<span><i class="fa fa-users"></i> 2.4k Enrolled</span>
									<a href="{% url 'register_student' %}">Register Here</a><br>
								</div>
							</div>
							<!--/ End Course Meta -->
						</div>
					</div>
			
					{% empty %}
					<p>No courses available.</p>
					{% endfor %}
				</div>
			</div>
			

			<!--/ End Single Course -->
		</div>
		
	</div>
</div>
</section>
				
		<!-- Features -->
		<div class="features overlay section" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Feature -->
						<div class="single-feature">
							<div class="icon-img">
								<img src="{% static 'images/feature1.jpg' %}" alt="#">
								<i class="fa fa-clone"></i>
							</div>
							<div class="feature-content">
								<h4 class="f-title">Trending Course</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam suscipit fugiat sint totam soluta assumenda</p>
							</div>
						</div>
						<!--/ End Single Feature -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Feature -->
						<div class="single-feature">
							<div class="icon-img">
								<img src="{% static 'images/feature2.jpg' %}" alt="#">
								<i class="fa fa-book"></i>
							</div>
							<div class="feature-content">
								<h4 class="f-title">Books & Library</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam suscipit fugiat sint totam soluta assumenda</p>
							</div>
						</div>
						<!--/ End Single Feature -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Feature -->
						<div class="single-feature">
							<div class="icon-img">
								<img src="{% static 'images/feature1.jpg' %}" alt="#">
								<i class="fa fa-institution"></i>
							</div>
							<div class="feature-content">
								<h4 class="f-title">Best Facility</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam suscipit fugiat sint totam soluta assumenda</p>
							</div>
						</div>
						<!--/ End Single Feature -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Feature -->
						<div class="single-feature">
							<div class="icon-img">
								<img src="{% static 'images/feature3.jpg' %}" alt="#">
								<i class="fa fa-users"></i>
							</div>
							<div class="feature-content">
								<h4 class="f-title">Certified Teachers</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam suscipit fugiat sint totam soluta assumenda</p>
							</div>
						</div>
						<!--/ End Single Feature -->
					</div>
				</div>
			</div>
		</div>
		<!--/ End Features -->
		
		<!-- Events -->
		<section id="events" class="events section">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 offset-lg-3 col-12">
						<div class="section-title bg">
							<h2>Upcoming <span>Events</span></h2>
							<p>Check out our latest events happening soon!</p>
							<div class="icon"><i class="fa fa-paper-plane"></i></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-5 col-12">
						<div class="event-img">
							<img src="{% static 'images/event-left.png' %}" alt="#">
						</div>
					</div>
					<div class="col-lg-7 col-12">
						<div class="coming-event">
							{% for event in events %}
							<!-- Single Event -->
							<div class="single-event">
								<div class="event-date">
									<p>{{ event.event_date|date:"d" }}<span>{{ event.event_date|date:"F" }}</span></p>
								</div>
								<div class="event-content">
									<h3 class="event-title">{{ event.title }}</h3>
									<p>{{ event.description }}</p>
								</div>
							</div>
							<!-- End Single Event -->
							{% empty %}
							<p>No upcoming events.</p>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
		<!--/ End Events -->
		
		<!-- Call To Action -->
		
		<!--/ End Call To Action -->
	<!-- Faqs -->
		
		<!--/ End Blogs -->
		
		<!-- Clients CSS -->
		<div class="clients">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-12">
						<div class="text-content">
							<h4>Our Awesome Clients!</h4>
							<p>Vivamus volutpat eros pulvinar velit laoreet, sit amet egestas erat dignissim. Et harum quidem</p>
						</div>
					</div>
					<div class="col-lg-8 col-md-8 col-12">
						<div class="client-slider">
							<div class="single-slider">
								<a href="#"><img src="{% static 'images/client1.png' %}" alt="#"></a>
							</div>
							<div class="single-slider">
								<a href="#"><img src="{% static 'images/client2.png' %}" alt="#"></a>
							</div>
							<div class="single-slider">
								<a href="#"><img src="{% static 'images/client3.png' %}" alt="#"></a>
							</div>
							<div class="single-slider">
								<a href="#"><img src="{% static 'images/client4.png' %}" alt="#"></a>
							</div>
							<div class="single-slider">
								<a href="#"><img src="{% static 'images/client5.png' %}" alt="#"></a>
							</div>
							<div class="single-slider">
								<a href="#"><img src="{% static 'images/client1.png' %}" alt="#"></a>
							</div>
							<div class="single-slider">
								<a href="#"><img src="{% static 'images/client2.png' %}" alt="#"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Clients CSS -->

<!-- Student Registration Modal -->
<div class="modal fade" id="studentRegisterModal" tabindex="-1" aria-labelledby="studentRegisterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="studentRegisterModalLabel">Student Registration</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'register_student' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" name="username" class="form-control" placeholder="Username" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" name="name" class="form-control" placeholder="Full Name" required>
                    </div>
                    <div class="mb-3">
                        <input type="email" name="email" class="form-control" placeholder="Email" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" name="phone" class="form-control" placeholder="Phone Number" required>
                    </div>
                    <div class="mb-3">
                        <input type="password" name="password" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="mb-3">
                        <select name="gender" class="form-select" required>
                            <option value="" disabled selected>Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <select name="course" class="form-select" required>
                            <option value="" disabled selected>Select Course</option>
                            {% for course in courses %}
                                <option value="{{ course.id }}">{{ course.name }} - ₹{{ course.amount }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Staff Registration Modal -->
<div class="modal fade" id="staffRegisterModal" tabindex="-1" aria-labelledby="staffRegisterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staffRegisterModalLabel">Staff Registration</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'register_staff' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" name="username" class="form-control" placeholder="Username" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" name="name" class="form-control" placeholder="Full Name" required>
                    </div>
                    <div class="mb-3">
                        <input type="email" name="email" class="form-control" placeholder="Email" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" name="phone" class="form-control" placeholder="Phone Number" required>
                    </div>
                    <div class="mb-3">
                        <input type="password" name="password" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="mb-3">
                        <select name="gender" class="form-select" required>
                            <option value="" disabled selected>Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
		{% endblock %}
		
